<nav class="left-aside">
  <details open>
    <summary class="nav-item">Основи HTML</summary>
    <a class="nav-link" href="#html">Що таке мова HTML?</a>
    <a class="nav-link" href="#tag-p">Тег абзацу <code>&lt;p&gt;</code></a>
    <a class="nav-link" href="#tag-h1">Тег заголовка <code>&lt;h1&gt;</code></a>
    <a class="nav-link" href="#comments">Коментарі <code>&lt;!--...--&gt;</code></a>
    <a class="nav-link" href="#tag-a">Тег посилання <code>&lt;a&gt;</code></a>
    <a class="nav-link" href="#tag-img">Тег зображення <code>&lt;img&gt;</code></a>
    <a class="nav-link" href="#tags-ul-ol">Теги списку <code>&lt;ul&gt;</code>, <code>&lt;ol&gt;</code></a>
    <a class="nav-link" href="#tags-h1-h6">Ієрархія <code>&lt;h1&gt;</code> - <code>&lt;h6&gt;</code></a>  
</details>
</nav>
