<section class="course-section">
    <div class="container">
      <h1 class="hero-title">Що таке мова HTML?</h1>
      <p>
        <strong>HyperText Markup Language</strong> (мова розмітки
        гіпертексту) — мова розмітки веб-документів. Набір правил
        структурування (розмітки) текстової інформації, додавання зображень,
        створення таблиць, форм, списків тощо.
      </p>
      <p>
        <strong>HTML-документ</strong> — текстовий файл з розширенням
        <code>.html</code>.
      </p>
      <p>
        Документ, розмічений за допомогою HTML, інтерпретується браузером.
        Як результат, користувачі бачать не вихідний код з елементами
        розмітки, а результат обробки цього файлу — веб-сторінку.
      </p>
      <img src="/img/raw-html-web.png" alt="raw-html-web" />
      <p>
        Популярність HTML та використання її як основи веб-сторінок призвело
        до необхідності створення, підтримки та розвитку відповідних
        стандартів. Зараз цим займається
        <a
          href="https://whatwg.org/"
          rel="noopener noreferrer"
          target="_blank"
          >Web Hypertext Application Technology Working Group (WHATWG)</a
        >, яка працює над специфікацією
        <a
          href="https://html.spec.whatwg.org/multipage/"
          rel="noopener noreferrer"
          target="_blank"
          >HTML Living Standard</a
        >.
      </p>
    </div>
  </section>