html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f0f0f0;
  overflow: hidden; /* Прибирає скролбар */
}

main {
  flex: 1; /* Заповнює весь доступний простір між header і footer */
}

code {
  background-color: black;
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
}