html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f0f0f0;
}

main {
  flex: 1; /* Заповнює весь доступний простір між header і footer */
}

code {
  font-family: "Fira Code", monospace;
  font-size: 0.875em;
  background-color: rgba(135, 131, 120, 0.15);
  color: #2f2f37;
  padding: 2px 0.5ch;
  border-radius: 3px;
}